<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Về Tác giả </h4>
                <h5 style="text-align: justify;color:white">
                    Blog tập trung những khiến thức và những trải nghiệm của anh về ngành phần mềm. Nhằm giúp đỡ các bạn học sinh, sinh viên hiểu sâu hơn
                    về nghề lập trình thông qua các kinh nghiệm thực tế mà anh làm trong các doanh nghiệp Âu, Mỹ và Nhật. Trong Blog này anh có chuyển đổi nội dung
                    một số kiến thức từ các blog nổi tiếng bằng tiếng Anh sang tiếng Việt nhằm giúp mọi người hiểu được nguyên lý dể dàng hơn.
                </h5>
            </div>

            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Newsletter</h4>
                <!-- Begin Mailchimp Signup Form -->
                <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=G6iXR&webforms_id=SoNPY" data-webform-id="SoNPY"></script>
                <!--End mc_embed_signup-->

            </div>
        </div>
        <div class="copyright_text">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="copyright_part">
                        <h6 class="footer-text m-0"><span class="px-2" style="color:white">Copyright © 2020 All rights reserved | By Lê Vũ Nguyên </span></h6>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-right">
                    <div class="footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
