<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Về Tác giả </h4>
                <h5 style="text-align: justify;color:white">
                    Chào các bạn, anh là Lê Vũ Nguyên đây. Hẳn các bạn đã đọc đâu đó bài viết của anh rồi và anh rất vui được gặp các bạn tại Blog này.
                    Với hơn 10 năm kinh nghiệm trong lĩnh vực phát triển phần mềm cho các công ty Âu, Mỹ và Nhật, anh luôn mong muốn được chia sẻ những kiến thức trong nghề lập trình để truyền cảm hứng và tiếp thêm kiến thức cho những ai đang theo đuổi công nghệ thông tin.
                    Anh đã có 2 năm giữ vị trí giám đốc vận hành tại công ty IT  SmartDev ( Thuỵ Sĩ), 1 năm là Group Leader tại công ty Framgia (Nhật) và
                    hơn 8 năm kinh nghiệm Fullstack Developer tại các công ty phần mềm Mỹ. Co-Founder sáng lập nhóm lập trình Agile Developer Đà Nẵng và là diễn giả của cộng đồng Agile Việt Nam.
                    Anh cũng thường xuyên đi coaching qui trình cho các doanh nghiệp. Và hiện nay, anh đang là cố vấn công nghệ tại CodeGym Đà Nẵng. Nếu muốn gặp và trao đổi về nghề lập trình cùng anh, các bạn có thể tới CodeGym Đà Nẵng! Và đừng quên đăng ký để nhận thông tin bài viết về công nghệ mới nhất trong ngành lập trình nhé!
                </h5>
            </div>

            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Newsletter</h4>
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="https://levunguyen.us19.list-manage.com/subscribe/post?u=43335741113088819d11da082&amp;id=00de4cb35c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe để nhận thông báo các bài viết mới  </h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_43335741113088819d11da082_00de4cb35c" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

            </div>
        </div>
        <div class="copyright_text">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="copyright_part">
                        <h6 class="footer-text m-0"><span class="px-2" style="color:white">Copyright © 2020 All rights reserved | By Lê Vũ Nguyên </span></h6>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-right">
                    <div class="footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>