<style>
    .containerYT {
        position: relative;
        width: 100%;

    }

    .containerYT img {
        width: 100%;
        height: auto;
    }

    .containerYT .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .containerYT .btn:hover {
        background-color: black;
    }
</style>

<div class="youtube-wrapper">

    <div class="containerYT">
        <a href="https://www.youtube.com/watch?v={{ include.id }}" target="_blank" >
            <img src="http://i3.ytimg.com/vi/{{ include.id }}/maxresdefault.jpg" style="width:100%" />
        </a>
        <button class="btn" onclick=" window.open('https://www.youtube.com/watch?v={{ include.id }}')">Play</button>
    </div>

</div>