<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="fb:app_id"       content="236029874433209" />

		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


		<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
		<!-- style CSS -->
		<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >

		<link rel="stylesheet" href='{{ "/css/pygments-3024-night.css" | prepend: site.baseurl }}' >

		<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
		<!-- bootstrap js -->
		<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
		<!-- custom js -->
		<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=236029874433209&autoLogAppEvents=1"></script>

		{% seo %}

		<script src="https://apis.google.com/js/platform.js"></script>

		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script',
					'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '260524451750950');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
					   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
				/></noscript>
		<!-- End Facebook Pixel Code -->

<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

	<body>


		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>

		<div class="container">

			<div class="row">

				<div class="col-lg-9 col-sm-9">
					<div id='page'>
						<div style="width:100%;text-align:center"> <img src="{{ page.featureImage }}"></div>
						<div style="margin-top: 0px;padding-top: 0px;font-size: 50px;color:red">Giới Thiệu Về Tác Giả</div>
						<div class="post-meta">
							<div class="post-meta-content" style="text-align: right">
								<span class="post-auhor-date">
									<span>
										<a class="post-author">nguyen.le</a>
									</span>,
									<a  class="post-date">
										{{ post.date | date: "%B %d, %Y"}}
									</a>
								</span>
								<span class="post-readtime">
									<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
								</span>
							</div>
						</div>
						
						<div id="contentPost">
							<h2>1. Trình độ học vấn <h2>	
							<img src='{{"/images/author/rmit.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							<p> 
							  	Anh bắt đầu học công nghệ thông tin khi đặt chân vào ngôi trường RMIT tại quận 7 ở Sài Gòn. Trong 3 năm gắng bó với trường thì anh đã học được nhiều điều mà giúp ích sau này cho anh rất nhiều. Với vốn tiếng anh được nhà trường đào tạo bài bản, cộng với khả năng tự học độc lập được tôi luyện khi còn ở nhà trường, mà sau này khi học công nghệ mới hay làm một dự án mới thì khả năng tìm kiếm và giải quyết vấn đề rất nhanh. 

							</p>

							<h2>2. Quá trình làm việc <h2>
							<img src='{{"/images/author/axon1.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<img src='{{"/images/author/smartdev.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<p>
								Sau khi tốt nghiệp đại học RMIT anh bắt đầu làm việc cho các công ty Đức, Mỹ và Thuỵ Sỹ với vai trò là một lập trình viên Java. Các anh đã phát triển các hệ thống cho những tập đoàn siêu thị ở Mỹ, các ứng dụng bản đồ và các dự án ngân hàng cho Thuỵ Sỹ. 
							</p>	

							<img src='{{"/images/author/axon2.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<p> 
							  	Trải qua hơn 7 năm làm lập trình viên fullstack anh quyết định chuyển sang một vai trò mới là Scrum Master để thử thách bản thân trong vai trò quản lý team. Anh trải qua hơn 3 năm làm Scrum Master để áp dụng quy trình tiên tiến vào team anh đang hoạt động. Tuy đi theo hướng quản lý nhưng công nghệ anh vẫn cập nhật liên tục chứ không bỏ công nghệ vì đó là đam mê của mình
							  	
							</p>

							<img src='{{"/images/author/framgia.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<p> 
							  	Sau khi đã trải nghiệm các công ty Âu Mỹ về môi trường làm việc thì anh tiếp tục thử sức bản thân với môi trường ở Nhật. Lúc này anh đầu quân cho công ty Framgia Đà Nẵng sau này đổi tên làm Sun*. Tuy thời gian làm 1 năm với vai trò là Group Leader của Division 3 nhưng thật sự đã để lại cho anh nhiều ấn tượng tuyệt vời về công ty, về các member và các cấp lãnh đạo rất tuyệt vời. Tại đây anh được học rất nhiều cái hay từ các sếp là người Việt Nam vào tác phong làm việc của người Nhật. Anh hiểu ra được nhiều thứ về cách quản lý dự án Nhật khác với các dự án Âu Mỹ mà anh từng làm. Mỗi môi trường đều có cái hay của nó. 
							  	
							</p>

							<img src='{{"/images/author/smartdev1.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<p> 
							  	Trải qua một khoản thời gian thử sức với mức độ quản lý các dự án anh nhận được đề nghị về làm giám đốc vận hành tại công ty Thuỵ Sỹ. Đây thực sự là một thử thách khá lớn với anh. Đó cũng chính là thử thách mà anh cần chinh phục. Với cương vị mới trách nhiệm mới là một khoản thời gian đáng nhớ trong đời.
							</p>
							
							<h2>3. Cộng Đồng <h2>

							Sau nhiều năm làm việc trong ngành phần mềm anh cảm thấy cần truyền đạt những kinh nghiệm của mình cho thế hệ trẻ. Nên đã thành lập ra cộng đồng Agile Developer Đà Nẵng vào năm 2014 với mong muốn tạo ra sân chơi cho các lập trình viên và hỗ trợ các bạn sinh viên.

							Anh đã có những buổi nói chuyện với sinh viên Bách Khoa.

							<img src='{{"/images/author/bachkhoa.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							Anh đã có những buổi nói chuyện với sinh viên Duy Tân.

							<img src='{{"/images/author/duytan.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							Anh đã có những buổi nói chuyện với sinh viên PNV.

							<img src='{{"/images/author/pnv.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							Anh đã có những buổi nói chuyện với sinh viên FPoly.

							<img src='{{"/images/author/fpoly.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							Anh đã có những buổi nói chuyện với sinh viên SICT.

							<img src='{{"/images/author/sict.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							<h2>Sự kiện Cộng Đồng <h2>

							<img src='{{"/images/author/cd1.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							<img src='{{"/images/author/cd2.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							
							<p>
								Ngoài việc tổ chức các buổi chia sẽ cho sinh viên thì hàng tháng anh hay tổ chức các buổi chia sẽ kinh nghiệp lập trình giữa các lập trình viên với nhau nhằm nâng cao kỷ năng lập trình. Đây thật sự là một giai đoạn đáng nhớ khi cộng đồng lúc đó rất ít 
							</p>

							<h2> 4. Diển giả tại các sự kiện Agile Tour Việt Nam <h2>

							<img src='{{"/images/author/agiletuor1.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							<img src='{{"/images/author/agiletuor2.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">
							<p>
								Ngoài việc tham gia các cộng đồng về lập trình thì anh cũng thường đi chia sẽ kinh nghiệm về Agile cho cộng đồng Agile. Sau này anh còn tổ chức thêm các hoạt động như XP Day tại thành phố Đà Nẵng.
							</p>
							- XP Day 2015
							<img src='{{"/images/author/.jpg"  | prepend: site.baseurl }}' style="display: block;margin-left: auto;margin-right: auto; width: 80%;">

							<h2> 5. Đào tạo Agile Developer và Agile Tester  <h2>

							<p>
								Thỉnh thoảng trong thời gian rãnh anh cũng hay đi đào tạo cho các tổ chức về Agile Developer là gì? Nếu một lập trình hay hoặc Tester muốn tham gia các dự án về Agile thì làm như thế 
							</p>

							<h2> 6. Công việc hiện tại  <h2>

							Trải qua một thời gian làm trong ngành lập trình anh muốn làm một điều gì mới lạ cho bản thân. Nên làm ra các blog về học lập trình để chia sẽ các kinh nghiệm mà mình đã từng trải qua. Giờ đây tuy không còn hoạt động nhiều cho cộng đồng nhưng anh sẽ xây dựng các khoá học miễn phí cho các thế hệ đi sau. Định hướng về con đường đi và bắt đầu từ đâu sẽ tốt nhất thông qua các bài viết, các video trên youtube.

							<h2> 7. Lời Kết  <h2>

							Làm lập trình rất vui, nó giống như một hoạ sĩ vậy. Những dòng code là những đường cong của cây cọ. Code càng đẹp, càng ngắn gọn thì sẽ cho ra bức tranh đẹp, sản phẩm tốt. Làm nghề lập trình tuy khó khăn nhiều lúc ức chế và tự kỷ nhưng đó là những lúc giúp mình mạnh mẽ để bước đến những bước thang thành công hơn. Chúc các em sẽ đạt được nhiều thành công.

							<h3>Subcribe kênh youtube để  được các bài viết hay	</h3>
							<div class="g-ytsubscribe" data-channelid="UC8VjQlFZWLrB-Nq7pQ0zGgA" data-layout="default" data-count="default"></div>
						</div>

						<div>
							<hr style="border: 1px solid red" />
							<h4>Comments</h4>
							<div class="fb-comments" data-href="https://levunguyen.com{{ page.url }}" data-colorscheme="dark" data-num-posts="4" data-width="706"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div>
						<div class="single_post post_1" style="margin-top : 10px" >

							<div style="width: 300px;">
            					<a href="https://danang.codegym.vn">
            						<img src='{{"/images/banner/dcc.jpg"  | prepend: site.baseurl }}' style="max-width: 100%"> <br>
            					</a>
        					</div>
        					<div style="width: 300px;">
        						<a href="https://danang.codegym.vn/khoa-hoc-accelerator-java/">
            						<img src='{{"/images/banner/bannerlopdem.jpg"  | prepend: site.baseurl }}' style="max-width: 100%">
            					</a>
        					</div>	

							<h6> <span style="color:#fc4600">    <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-width="300" data-show-social-context="false" data-show-metadata="true">
							</div>
							<h6> <span style="color:#fc4600">  <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" data-width="300" data-show-social-context="true" data-show-metadata="true"></div>

						</div>


						<!-- Display Google Ads -->
						<div>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4551247919940215"
							     data-ad-slot="1895345148"
							     data-ad-format="auto"
							     data-full-width-responsive="true"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					<!-- End Display Google Ads -->


					</div>
				</div>


			</div>

		</div>


		<div id='footer'>
			{% include footer.html %}
		</div>

	</div>
	{% include googleana.html %}
	
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
