<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="fb:app_id"       content="236029874433209" />

		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


		<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
		<!-- style CSS -->
		<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >
		<link rel="stylesheet" href='{{ "/css/pygments-3024-night.css" | prepend: site.baseurl }}' >

		<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
		<!-- bootstrap js -->
		<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
		<!-- custom js -->
		<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=236029874433209&autoLogAppEvents=1"></script>

		{% seo %}

		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script',
					'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '260524451750950');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
					   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
				/></noscript>
		<!-- End Facebook Pixel Code -->

	</head>

	<body>


		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>

		<div class="container">

			<div class="row">

				<div class="col-lg-9 col-sm-9">
					<div id='page'>
						<h1 id='page-title'>{{page.title}}</h1>
						<div class="post-meta">
							<div class="post-meta-content">
								<span class="post-auhor-date">
									<span>
										<a class="post-author">nguyen.le</a>
									</span>,
									<a  class="post-date">
										{{ post.date | date: "%B %d, %Y"}}
									</a>
								</span>
								<span class="post-readtime">
									<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
								</span>
							</div>
						</div>
						<div style="text-align: justify">
							{{content}}
						</div>
						<!-- Related Posts-->
						<hr>
						<div class='relatedposts'>
							<h4>Related Posts</h4>
							{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:9 %}
							<ul id='relatedposts'>
								{% for post in posts %}
								<li>
									<div class="thumbnail">
										<a href='{{post.url | relative_url }}'>
											<img src='{{post.image | relative_url }}' style="border-radius: 50%" alt="" width="210" height="118">
										</a>
									</div>
									<div class="title">
										<a href='{{post.url | relative_url }}' >
											{{post.title}}
										</a>
									</div>
								</li>


								{% endfor %}
								<span class='list-item' data-label='Blogging'></span>
							</ul>
						</div>

						<!-- End Related Posts -->

						<div>
							<hr style="border: 1px solid red" />
							<h4>Comments</h4>
							<div class="fb-comments" data-href="https://levunguyen.com{{ page.url }}" data-colorscheme="dark" data-num-posts="4" data-width="706"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div>
						<div class="single_post post_1" style="margin-top : 10px" >
							<h6> <span style="color:#fc4600"> Tìm hiểu khoá học Java FullStack <span> </span></span></h6>
							<div class="fb-page" data-href="https://www.facebook.com/codegymdanang/" data-tabs="timeline" data-width="300" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
								<blockquote cite="https://www.facebook.com/codegymdanang/" class="fb-xfbml-parse-ignore">
									<a href="https://www.facebook.com/codegymdanang/">CodeGym Đà Nẵng</a></blockquote>
							</div>
							<h6> <span style="color:#fc4600"> Cộng đồng lập trình cho người mới bắt đầu   <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-width="300" data-show-social-context="false" data-show-metadata="true">
							</div>
							<h6> <span style="color:#fc4600"> Cộng đồng lập trình viên tại Đà Nẵng  <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" data-width="300" data-show-social-context="true" data-show-metadata="true"></div>

						</div>
					</div>
				</div>


			</div>

		</div>


		<div id='footer'>
			{% include footer.html %}
		</div>

	</div>
	{% include googleana.html %}
</body>
</html>
