<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="fb:app_id"       content="236029874433209" />

		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


		<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
		<!-- style CSS -->
		<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >

		<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
		<!-- bootstrap js -->
		<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>


		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=236029874433209&autoLogAppEvents=1"></script>

		{% seo %}
	</head>

	<body>


		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>

		<div class="container">

			<div class="row">

				<div class="col-lg-9 col-sm-9">
					<div id='page'>
						<h1 id='page-title'>{{page.title}}</h1>
						<div style="text-align: justify">
							{{content}}
						</div>

						<!-- Related Posts-->
						<div class="relatedPosts">
							<hr/>
							<h2 style="background-color: red"><span style="color: white"> Có thể bạn muốn xem </span></h2>
							{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:8 %}
							<div style="text-align: left; padding: 10px 10px 10px 10px" >
								<ul style="list-style-type:circle">
									{% for post in posts %}

											<li>
												<a href='{{post.url | relative_url }}'>
													<h5 class='post-title'>{{post.title}}</h5>
												</a>
											</li>

									{% endfor %}
								</ul>

							</div>

						</div>


						<!-- End Related Posts -->
						<div>
							<hr style="border: 1px solid red" />
							<h4>Comments</h4>
							<div class="fb-comments" data-href="https://levunguyen.com{{ page.url }}" data-colorscheme="dark" data-num-posts="4" data-width="706"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div>
						<div class="single_post post_1" style="margin-top : 10px" >
							<h2> Học Lập trình Cam kết 100% Việc Làm  </h2>
							<div class="fb-page" data-href="https://www.facebook.com/codegymdanang/" data-tabs="timeline" data-width="300" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
								<blockquote cite="https://www.facebook.com/codegymdanang/" class="fb-xfbml-parse-ignore">
									<a href="https://www.facebook.com/codegymdanang/">CodeGym Đà Nẵng</a></blockquote>
							</div>
							<h2> Nhóm học lập trình CodeGym Đà Nẵng  </h2>
							<div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-width="300" data-show-social-context="false" data-show-metadata="true">
							</div>
							<h2> Nhóm Lập trình viên tại Đà Nẵng  </h2>
							<div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" data-width="300" data-show-social-context="true" data-show-metadata="true"></div>

						</div>
					</div>
				</div>
			</div>

		</div>


		<div id='footer'>
			{% include footer.html %}
		</div>

	</div>
	{% include googleana.html %}
</body>
</html>
