<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="học lập trình, lập trình java , lập trình spring, hướng dẫn học lập , tự học lập trình ">
    <meta name="keywords" content="java, spring, lập trình web ">

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >

	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >
	<link rel="stylesheet" href='{{ "/css/themify-icons.css" | prepend: site.baseurl }}' >



	{% seo %}

	

</head>

<body>

<!--::header part start::-->
<div >
	{% include header.html %}
	<div style='clear: both'></div>
</div>
<!-- Header part end-->

<!-- banner post -->
{% include banner.html %}
<!-- end banner post-->

<!-- feature_post start-->
<section class="all_post section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<!-- News Feed -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài Viết Mới </h4>
								</div>
							</div>
							<div class="row">

								
								
									<div class="col-lg-12 col-sm-12" style="text-align: left">
											{% include youtubePlayerHome.html id="Pcl8M2tW6f4" %}
									</div>



								
							</div>
						</div>

					</div>

				</div>
				<!-- End News Feed -->


				<!-- Công nghệ Java -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Công nghệ Java </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-4 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-java/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/java.png" | prepend: site.baseurl }}' >
	                                	<p>Java</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-4 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-spring-core/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/spring_core.png" | prepend: site.baseurl }}' >
	                                	<p>Spring Core</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-4 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-spring-web/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/spring.png" | prepend: site.baseurl }}' >
	                                	<p>Spring Boot</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End công nghệ java -->

				<!-- Công nghệ web -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Công nghệ Web </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-html/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/html.png" | prepend: site.baseurl }}' >
	                                	<p>HTML</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-css/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/css.png" | prepend: site.baseurl }}' >
	                                	<p>CSS</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-javascript/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/javascript.png" | prepend: site.baseurl }}' >
	                                	<p>JavaScript</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-jquery/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/jquery.png" | prepend: site.baseurl }}' >
	                                	<p>Jquery</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-bootstrap/">
										<div class="homecontent">
											<img style="text-align: center;" src='{{ "/images/blog/boostrap.png" | prepend: site.baseurl }}' >
											<p>Bootstrap</p>
										</div>
									</a>
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-typescript/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/typescript.png" | prepend: site.baseurl }}' >
	                                	<p>TypeScript</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-es6/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/es6.png" | prepend: site.baseurl }}' >
	                                	<p>ES6</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-angular/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/angular.png" | prepend: site.baseurl }}' >
	                                	<p>Angular</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-reactjs/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/reactjs.png" | prepend: site.baseurl }}' >
	                                	<p>ReactJS</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End công nghệ web -->

				<!-- Nghệ nhân lập trình -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Trở thành Nghệ Nhân lập trình </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-java-chuyen-sau/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/thebestcoder.png" | prepend: site.baseurl }}' >
	                                	<p>The best coder</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/ky-thuat-lap-trinh-java-refactoring/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/refactoring.png" | prepend: site.baseurl }}' >
	                                	<p>Refactoring</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-design-pattern/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/design-patterns.png" | prepend: site.baseurl }}' >
	                                	<p>Design Pattern</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-docker/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/docker.png" | prepend: site.baseurl }}' >
	                                	<p>Docker</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End Nghệ nhân lập trình  -->

				<!-- Database -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Cơ sở dữ liệu </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-6 col-sm-6">
									<a href="https://levunguyen.com/co-so-du-lieu-mysql/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/mysql.png" | prepend: site.baseurl }}' >
	                                	<p>MySql</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-6 col-sm-6">
									<a href="https://levunguyen.com/co-so-du-lieu-none-relational-database/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/mongodb.png" | prepend: site.baseurl }}' >
	                                	<p>Mongo DB</p>
	                            		</div> 
	                        		</a>	
								</div>


							</div>
						</div>

					</div>

				</div>

				<!-- Testing -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Kiểm thử phần mềm </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-6 col-sm-6">
									<a href="https://levunguyen.com/hoc-lap-trinh-manual-testing/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/manualtesting.png" | prepend: site.baseurl }}' >
	                                	<p>Manual Testing</p>
	                            		</div> 
	                        		</a>	
								</div>	

								


							</div>
						</div>

					</div>

				</div>

				<!-- End Nghệ nhân lập trình  -->

				<!-- Nghề dev  -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Nghề lập trình</h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-6 col-sm-6">
									<a href="https://levunguyen.com/tam-su-nghe-lap-trinh-vien/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/tamsu.png" | prepend: site.baseurl }}' >
	                                	<p>Tâm sự Dev</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-6 col-sm-6">
									<a href="https://levunguyen.com/ky-nang-hoc-lap-trinh/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/softskills.png" | prepend: site.baseurl }}' >
	                                	<p>Softskills</p>
	                            		</div> 
	                        		</a>	
								</div>


							</div>
						</div>

					</div>

				</div>
				<!-- End Nghề Dev -->
			</div>

			<div class="col-lg-4">
				<div class="sidebar_widget">
					<!-- Stay Connect -->
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Stay Connect</h3>
						</div>
						<div class="social_share_icon tags">
							<ul class="list-unstyled">
								<li><a href="https://www.tiktok.com/@lap_trinh_vien/" target="_blank"><i class="ti-heart"></i></a></li>
								<li><a href="https://www.facebook.com/groups/danangagiledeveloper/" target="_blank"><i class="ti-facebook"></i></a></li>
                				<li><a href="https://www.youtube.com/channel/UC8VjQlFZWLrB-Nq7pQ0zGgA?sub_confirmation=1" target="_blank" ><i class="ti-youtube"></i></a></li>
                				<li><a href="https://github.com/levunguyen" target="_blank"><i class="ti-github"></i></a></li>
                				<li><a href='{{"/search" | prepend: site.baseurl }}'><i class="ti-search"></i></a></li>
                				
							</ul>
						</div>
					</div>
					<div class="single_sidebar_wiget">
						<div style="width: 300px;">
							<a href="https://hoclaptrinhdanang.com" target="_blank">
								<img src='{{"/images/banner/downloadsach.jpg"  | prepend: site.baseurl }}' style="max-width: 100%"> <br>
							</a>
						</div>
						<br> <br>
						<div style="width: 300px;">
							<a href="https://hoclaptrinhonline.asia" target="_blank">
								<img src='{{"/images/banner/khoahoconline.jpg"  | prepend: site.baseurl }}' style="max-width: 100%"> <br>
							</a>
						</div>

					</div>
					
					<!-- Display Google Ads -->
					<div>
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-4551247919940215"
						     data-ad-slot="1895345148"
						     data-ad-format="auto"
						     data-full-width-responsive="true"></ins>
						<script>
						     (adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<!-- End Display Google Ads -->

					<!-- Home-SecondeAds
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-4551247919940215"
					     data-ad-slot="1818585801"
					     data-ad-format="auto"
					     data-full-width-responsive="true"></ins>
					<script>
					     (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					 -->

					<!-- Google Site -->
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4551247919940215"
							crossorigin="anonymous"></script>


				</div>
			</div>
		</div>

	</div>
</section>
<!-- feature_post end-->




<div id='footer'>
	{% include footer.html %}
</div>
</div>
{% include googleana.html %}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>


	<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>


	<!-- bootstrap js -->
	<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
	<!-- custom js -->
	<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '260524451750950');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
				   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
			/></noscript>
	<!-- End Facebook Pixel Code -->
<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</html>
