<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >

	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >


	<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
	<!-- bootstrap js -->
	<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
	<!-- custom js -->
	<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

	{% seo %}

	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '260524451750950');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
				   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
			/></noscript>
	<!-- End Facebook Pixel Code -->


</head>

<body>
<!--::header part start::-->
<div >
	{% include header.html %}
	<div style='clear: both'></div>
</div>
<!-- Header part end-->

<!-- banner post -->
{% include banner.html %}
<!-- end banner post-->

<!-- feature_post start-->
<section class="all_post section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<!-- Spring Post -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài Viết Mới Spring</h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhspring limit:4  %}
								<div class="col-lg-3 col-sm-3">
									<div class="single_post post_1">
										<div class="single_post_img">
											{% if post.image %}
											<a href='{{post.url | relative_url }}'><img class='post-image' style="border-radius: 50%;" src="{{post.image | relative_url}}" /></a>
											{% endif %}
										</div>
										<div class="single_post_text text-center">
											<a href='{{post.url | relative_url }}'>
												<h5 class='post-title'>{{post.title}}</h5>
											</a>
											<h6>Posted : {{ post.date | date: "%B %d, %Y"}}</h6>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{post.url | relative_url }}'><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Spring Post -->
				<!-- Java Post -->
				<div class="row">
		<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài Viết Mới Java </h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhjava limit:4  %}
								<div class="col-lg-3 col-sm-3">
									<div class="single_post post_1">
										<div class="single_post_img">
											{% if post.image %}
											<a href='{{post.url | relative_url }}'><img class='post-image' style="border-radius: 50%" src="{{post.image | relative_url}}" /></a>
											{% endif %}
										</div>
										<div class="single_post_text text-center">
											<a href='{{post.url | relative_url }}'>
												<h5 class='post-title'>{{post.title}}</h5>
											</a>
											<h6>Posted : {{ post.date | date: "%B %d, %Y"}}</h6>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{post.url | relative_url }}'><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Java Post -->
				<!-- Lap Trinh Web Post -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài Viết Mới Lập Trình Web</h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhweb limit:4  %}
								<div class="col-lg-3 col-sm-3">
									<div class="single_post post_1">
										<div class="single_post_img">
											{% if post.image %}
											<a href='{{post.url | relative_url }}'><img class='post-image' style="border-radius: 50%;" src="{{post.image | relative_url}}" /></a>
											{% endif %}
										</div>
										<div class="single_post_text text-center">
											<a href='{{post.url | relative_url }}'>
												<h5 class='post-title'>{{post.title}}</h5>
											</a>
											<h6>Posted : {{ post.date | date: "%B %d, %Y"}}</h6>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{post.url | relative_url }}'><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Web Post -->




				<!-- Tong hop cac bai Post -->
				<div class="row">
					<div class="col-lg-12">
						<div class='relatedposts'>
							<h4> Bài Viết Mới </h4>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row"  >
							{% for post in paginator.posts  %}
							<div class="col-lg-3 col-sm-3">
								<div class="single_post post_1">
									<div class="single_post_img">
										{% if post.image %}
										<a href='{{post.url | relative_url }}'><img class='post-image' style="border-radius: 50%;" src="{{post.image | relative_url}}" /></a>
										{% endif %}
									</div>
									<div class="single_post_text text-center">
										<a href='{{post.url | relative_url }}'>
											<h5 class='post-title'>{{post.title}}</h5>
										</a>
										<h6>Posted : {{ post.date | date: "%B %d, %Y"}}</h6>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="row">
							<!-- Pagination links -->
							<!-- pagination -->
							{% if paginator.total_pages > 1 %}
							<div class="pagination">
								{% if paginator.previous_page %}
								<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
								{% else %}
								<span>&laquo; Prev</span>
								{% endif %}

								{% for page in (1..paginator.total_pages) %}
								{% if page == paginator.page %}
								<span class="webjeda">{{ page }}</span>
								{% elsif page == 1 %}
								<a href="/">{{ page }}</a>
								{% else %}
								<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
								{% endif %}
								{% endfor %}

								{% if paginator.next_page %}
								<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
								{% else %}
								<span>Next &raquo;</span>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- End New Post -->
			</div>
			<div class="col-lg-4">
				<div class="sidebar_widget">
					<div class="single_sidebar_wiget search_form_widget">
						<form action="#">
							<div class="form-group">
								<input type="text" class="form-control" placeholder='Search Keyword'
									   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
								<div class="btn_1">search</div>
							</div>
						</form>
					</div>
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Categories</h3>
						</div>
						<div class="single_catagory_item category">
							<ul class="list-unstyled">
								<li><a href="category.html">Culture</a> <span>(15)</span> </li>
								<li><a href="category.html">Creative Design</a> <span>(15)</span> </li>
								<li><a href="category.html">Illustration</a> <span>(15)</span> </li>
								<li><a href="category.html">Production</a> <span>(15)</span> </li>
								<li><a href="category.html">Mangement</a> <span>(15)</span> </li>
								<li><a href="category.html">Branding</a> <span>(15)</span> </li>
							</ul>
						</div>
					</div>
					<!-- Popular Post -->
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Popular Feeds</h3>
						</div>
						{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:9 %}
						<ul id='relatedposts'>
							{% for post in posts %}
							<div class="single_catagory_post post_2 ">
								<div class="post_text_1 pr_30">
									<a href='{{post.url | relative_url }}'>
										<h3>{{post.title}}</h3>
									</a>
									<p><span> By Michal</span> {{post.date}}</p>
								</div>
							</div>


							{% endfor %}
							<span class='list-item' data-label='Blogging'></span>
						</ul>

					</div>
					<!-- Popular Post -->

					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Share this post</h3>
						</div>
						<div class="social_share_icon tags">
							<ul class="list-unstyled">
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#"><i class="ti-pinterest"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- feature_post end-->




<div id='footer'>
	{% include footer.html %}
</div>
</div>
{% include googleana.html %}

</body>
</html>
