<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="học lập trình, lập trình java , lập trình spring, hướng dẫn học lập , tự học lập trình ">
  <meta name="keywords" content="java, spring, lập trình web ">

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >

	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >
	<link rel="stylesheet" href='{{ "/css/themify-icons.css" | prepend: site.baseurl }}' >


	<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
	<!-- bootstrap js -->
	<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
	<!-- custom js -->
	<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

	{% seo %}

	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '260524451750950');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
				   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
			/></noscript>
	<!-- End Facebook Pixel Code -->
<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
<!--::header part start::-->
<div >
	{% include header.html %}
	<div style='clear: both'></div>
</div>
<!-- Header part end-->

<!-- banner post -->
{% include banner.html %}
<!-- end banner post-->

<!-- feature_post start-->
<section class="all_post section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					Chào mừng các bạn đến với blog của anh. Trong Blog này anh tổng hợp lại các kỷ thuật lập trình,
					các thư viện, frameworks và các kỷ năng mềm mà anh đã trải qua trong suốt 15 năm làm nghề lập trình.
					<br><br>

					Đến với Blog này, anh sẽ truyền đạt lại tất cả các kiến thức từ frontend , backend, devops , testing, qui trình
					mà anh đã áp dụng thành công trong các dự án của anh cho các em.
					<br><br>

					Ngoài các blogs về kỷ thuật thì anh cũng viết các bài về kỷ năng mềm , nhằm giúp các em có định hướng tốt khi đi làm
					đồng thời những kiến thức này sẽ là nền móng để các em phát triển bản thân trong tương lai.
					<br><br>
					<h2 style="text-align:center">Chúc các em sẽ thành công trên con đường trở thành lập trình viên giỏi trong tương lai.</h2>
				</div>
				<!-- Spring Post -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài viết  Spring </h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhspring limit:6  %}
								<div class="col-lg-4 col-sm-4">
									<div class="post-container">
										<div class="post-thumbnail">
											<div class="sh-ratio">
												<div class="sh-ratio-container">
													<div class="sh-ratio-content">
														<a href='{{post.url | relative_url }}'>
															<img class='post-image'   src="{{post.image | relative_url}}" />
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="post-content-container">
											<div class="post-categories-container">
												<div class="post-categories">
													<span style="font-weight: bold"> {{post.category}}</span>
												</div>
											</div>
											<a  class="post-title">
												<a href='{{post.url | relative_url }}'>
													<h6>{{post.title}}</h6>
												</a>
											</a>
											<div class="post-meta">
												<div class="post-meta-content">
													<span class="post-auhor-date">
														<span>
															<a class="post-author">nguyen.le</a>
														</span>,
														<a  class="post-date">
															{{ post.date | date: "%B %d, %Y"}}
														</a>
													</span>
													<span class="post-readtime">
														<i class="fas fa-clock">15 min <span>read</span></i>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{"/hoc-lap-trinh-spring" | prepend: site.baseurl }}'><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Spring Post -->

				<!-- Java Post -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài viết về Java  </h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhjava limit:6  %}
								<div class="col-lg-4 col-sm-4">
									<div class="post-container">
										<div class="post-thumbnail">
											<div class="sh-ratio">
												<div class="sh-ratio-container">
													<div class="sh-ratio-content">
														<a href='{{post.url | relative_url }}'>
															<img class='post-image'   src="{{post.image | relative_url}}" />
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="post-content-container">
											<div class="post-categories-container">
												<div class="post-categories">
													<span> {{post.category}}</span>
												</div>
											</div>
											<a  class="post-title">
												<a href='{{post.url | relative_url }}'>
													<h6>{{post.title}}</h6>
												</a>
											</a>
											<div class="post-meta">
												<div class="post-meta-content">
													<span class="post-auhor-date">
														<span>
															<a class="post-author">nguyen.le</a>
														</span>,
														<a  class="post-date">
															{{ post.date | date: "%B %d, %Y"}}
														</a>
													</span>
													<span class="post-readtime">
														<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{"/hoc-lap-trinh-java" | prepend: site.baseurl }}'><img   src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Java Post -->

				<!-- Lap Trinh Web Post -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài viết Web </h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.laptrinhweb limit:6  %}
								<div class="col-lg-4 col-sm-4">
									<div class="post-container">
										<div class="post-thumbnail">
											<div class="sh-ratio">
												<div class="sh-ratio-container">
													<div class="sh-ratio-content">
														<a href='{{post.url | relative_url }}'>
															<img class='post-image'   src="{{post.image | relative_url}}" />
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="post-content-container">
											<div class="post-categories-container">
												<div class="post-categories">
													<span> {{post.category}}</span>
												</div>
											</div>
											<a  class="post-title">
												<a href='{{post.url | relative_url }}'>
													<h6>{{post.title}}</h6>
												</a>
											</a>
											<div class="post-meta">
												<div class="post-meta-content">
													<span class="post-auhor-date">
														<span>
															<a class="post-author">nguyen.le</a>
														</span>,
														<a  class="post-date">
															{{ post.date | date: "%B %d, %Y"}}
														</a>
													</span>
													<span class="post-readtime">
														<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{"/hoc-lap-trinh-web" | prepend: site.baseurl }}' ><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Web Post -->

				<!-- Softkills -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Bài viết về Softskills </h4>
								</div>
							</div>

							<div class="row">
								{% for post in site.categories.career limit:6  %}
								<div class="col-lg-4 col-sm-4">
									<div class="post-container">
										<div class="post-thumbnail">
											<div class="sh-ratio">
												<div class="sh-ratio-container">
													<div class="sh-ratio-content">
														<a href='{{post.url | relative_url }}'>
															<img class='post-image'   src="{{post.image | relative_url}}" />
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="post-content-container">
											<div class="post-categories-container">
												<div class="post-categories">
													<span> {{post.category}}</span>
												</div>
											</div>
											<a  class="post-title">
												<a href='{{post.url | relative_url }}'>
													<h6>{{post.title}}</h6>
												</a>
											</a>
											<div class="post-meta">
												<div class="post-meta-content">
													<span class="post-auhor-date">
														<span>
															<a class="post-author">nguyen.le</a>
														</span>,
														<a  class="post-date">
															{{ post.date | date: "%B %d, %Y"}}
														</a>
													</span>
													<span class="post-readtime">
														<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-lg-8 col-sm-8"> </div>
								<div class="col-lg-4 col-sm-4">
									<div style="text-align:right">
										<a href='{{"/hoc-lap-trinh-web" | prepend: site.baseurl }}' ><img  src='{{ "/images/blog/readmore.png" | prepend: site.baseurl }}' /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Softkills -->

			</div>
			<div class="col-lg-4">
				<div class="sidebar_widget">
					<!-- Stay Connect -->
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Stay Connect</h3>
						</div>
						<div class="social_share_icon tags">
							<ul class="list-unstyled">
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#"><i class="ti-pinterest"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Categories</h3>
						</div>
						<div class="single_catagory_item category">
							<ul class="list-unstyled">
								<li><a href="#">Java</a> <span>({{ site.categories.laptrinhjava | size }})</span> </li>
								<li><a href="#">Agile</a> <span>(15)</span> </li>
								<li><a href="#">Tester</a> <span>(15)</span> </li>
								<li><a href="#">Production</a> <span>(15)</span> </li>
								<li><a href="#">Mangement</a> <span>(15)</span> </li>
								<li><a href="#">4.0</a> <span>(15)</span> </li>
							</ul>
						</div>
					</div>
					<!-- Popular Post -->
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Popular Feeds</h3>
						</div>
						{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:9 %}
						<ul id='relatedposts'>
							{% for post in posts %}
							<div class="single_catagory_post post_2 ">
								<div class="post_text_1 pr_30">
									<a href='{{post.url | relative_url }}'>
										<h5>{{post.title}}</h5>
									</a>
									<p><span>Posted By nguyen.le </span> {{ post.date | date: "%B %d, %Y"}}</p>
								</div>
							</div>
							{% endfor %}
							<span class='list-item' data-label='Blogging'></span>
						</ul>


					</div>
					<!-- Popular Post -->


				</div>
			</div>
		</div>

	</div>
</section>
<!-- feature_post end-->




<div id='footer'>
	{% include footer.html %}
</div>
</div>
{% include googleana.html %}

</body>
</html>
