<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="fb:app_id"       content="236029874433209" />

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{ page.title }} | Lê Vũ Nguyên Dạy Học Lập Trình</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >

	<link rel="stylesheet" href='{{ "/css/pygments-3024-night.css" | prepend: site.baseurl }}' >
	<link rel="stylesheet" href="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/css/cloudEdit.css">
	<link rel="stylesheet" href="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/css/contextMenu.css">
	<link rel="stylesheet" href="https://www.jqueryscript.net/css/jquerysctipttop.css">


	{% seo %}


</head>

<body>


<div id='layout'>
	{% include header.html %}
	<div style='clear: both'></div>
</div>

<!-- banner post -->

<!-- end banner post-->

<div class="container-fluid">
	<div class="row">

		<div class="col-lg-9 col-sm-9" style="border:5px solid #fde3db">

			<section style="margin-top:150px;">
				<h1>jQuery Cloud Edit Example</h1>
				<div class="btnGroup">
					<a class="btn" id="previewToggle" href="#!" title="Enlarge Preview">Preview</a>
					<a class="btn" id="clear" href="#!" title="Click to clear all">Clear</a>
					<a class="btn" id="download" href="#!" title="Download">Download</a>
					<!--       <a class="btn" id="run" href="#!" title="Run">Run</a> -->
					<a class="btn" id="htmlToggle" href="#!" title="Toggle HTML">Toggle HTML</a>
					<a class="btn" id="cssToggle" href="#!" title="Toggle CSS">Toggle CSS</a>
					<a class="btn" id="jsToggle" href="#!" title="Toggle JS">Toggle JS</a>
					<a class="btn btn-hidden" id="consoleToggle" href="#!" title="Toggle Console">Toggle Console</a>
				</div>
				<div class="windowGroup">
					<div class="window html">
						<pre id="html"></pre>
						<span class="windowLabel" id="htmlLabel">HTML</span>
					</div>
					<div class="window css">
						<pre id="css"></pre>
						<span class="windowLabel" id="cssLabel">CSS</span>
					</div>
					<div class="window js">
						<pre id="js"></pre>
						<span class="windowLabel" id="jsLabel">JavaScript/jQuery 1.x</span>
					</div>
				</div>
				<div class="console">
					<pre id="console"></pre>
					<span class="windowLabel" id="consoleLabel">Console [right-click to clear]</span>
				</div>
				<div class="preview">
					<iframe id="iframe"></iframe>
					<span class="windowLabel" id="iframeLabel">Preview</span>
					<span class="windowLabel" id="iframeClose">X</span>
				</div>
			</section>



		</div>
		<div class="col-lg-3 col-sm-3">
			<div>
				<div class="single_post post_1" style="margin-top : 10px" >
					<div style="width: 300px;">
						<a href="https://hoclaptrinhonline.asia" target="_blank">
							<img src='{{"/images/banner/khoahoconline.jpg"  | prepend: site.baseurl }}' style="max-width: 100%"> <br>
						</a>
					</div>
					<div style="width: 300px;">
						<a href="https://hoclaptrinhdanang.com" target="_blank">
							<img src='{{"/images/banner/downloadsach.jpg"  | prepend: site.baseurl }}' style="max-width: 100%">
						</a>
					</div>

					<h6> <span style="color:#fc4600">    <span> </span></span></h6>
					<div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-width="300" data-show-social-context="false" data-show-metadata="true">
					</div>
					<h6> <span style="color:#fc4600">  <span> </span></span></h6>
					<div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" data-width="300" data-show-social-context="true" data-show-metadata="true"></div>

				</div>

				<!-- Display Google Ads -->
				<div>
					<ins class="adsbygoogle"
						 style="display:block"
						 data-ad-client="ca-pub-4551247919940215"
						 data-ad-slot="1895345148"
						 data-ad-format="auto"
						 data-full-width-responsive="true"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<!-- End Display Google Ads -->



			</div>
		</div>


	</div>

</div>


<div id='footer'>
	{% include footer.html %}
</div>

</div>
{% include googleana.html %}
</body>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
<!-- bootstrap js -->
<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>

<script src="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/js/autoprefixer.js" ></script>

<script src='{{"/js/ace/ace.js"  | prepend: site.baseurl }}'  type="text/javascript" charset="utf-8"></script>

<script src="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/js/jquery.ui.position.min.js" ></script>

<script src="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/js/contextMenu.min.js" ></script>

<script src="https://www.jqueryscript.net/demo/Creating-A-JSFiddle-Like-Code-Editor-with-jQuery-ACE-Editor-Cloud-Edit/js/cloudEdit.min.js
" ></script>


<!-- custom js -->



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=236029874433209&autoLogAppEvents=1"></script>
<script src="https://apis.google.com/js/platform.js"></script>

<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '260524451750950');
	fbq('track', 'PageView');
</script>
<noscript>
	<img height="1" width="1" style="display:none"
		 src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</html>
